:root {
    --main-bg-color:#424549;
    --main-fg-color:whitesmoke;
    --highlight-color:#7F39FB;
    --border-color: #aaa;
    --font-size-xs: 0.7rem;
    --font-size-s: 0.9rem;
    --font-size-n: 1rem;
    --font-size-l: 1.2rem;
    --font-size-xl: 1.5rem;
    --font-size-xxl: 2rem;
    --break-point-mobile: 32rem;
    --transparent: opacity(0);

}
