:root {
    --main-bg-color:#424549;
    --main-fg-color:whitesmoke;
    --highlight-color:#7F39FB;
    --border-color: #aaa;
    --font-size-xs: 0.7rem;
    --font-size-s: 0.9rem;
    --font-size-n: 1rem;
    --font-size-l: 1.2rem;
    --font-size-xl: 1.5rem;
    --font-size-xxl: 2rem;
    --break-point-mobile: 32rem;
}
#wrapper > header, #wrapper > footer {
    --main-bg-color:#1e2124;
    --main-fg-color:whitesmoke;
}

#wrapper > nav {
    --main-bg-color:#2e3136;
    --main-fg-color:whitesmoke;
}

button {
    --main-bg-color:#2e3136
}